<div class="min-h-screen flex items-center justify-center bg-base-200 p-4">
  <div class="w-full max-w-md bg-base-100 shadow-xl rounded-xl p-6 space-y-6">
    <div class="flex">
      <app-theme-toggle class="ml-auto"></app-theme-toggle>
    </div>
    <div class="text-center">
      <h2 class="text-4xl font-bold text-secondary animate-bounce">ChatLab</h2>
      <p class="text-sm text-base-content/60">
        Stay connected, instantly — with ChatLab
      </p>
    </div>

    <div class="flex justify-center">
      <div role="tablist" class="tabs tabs-box">
        <a
          role="tab"
          class="tab"
          [class.tab-active]="isLogin"
          (click)="toggleForm('login')"
          >Login</a
        >
        <a
          role="tab"
          class="tab"
          [class.tab-active]="!isLogin"
          (click)="toggleForm('register')"
          >Register</a
        >
      </div>
    </div>

    <form
      *ngIf="isLogin"
      #loginForm="ngForm"
      class="space-y-4"
      (ngSubmit)="onLogin()"
    >
      <label class="floating-label">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="input input-md w-full"
          [(ngModel)]="loginModel.email"
          #email="ngModel"
          required
          email
        />
        <span>Email</span>
      </label>

      <label class="floating-label">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="input input-md w-full"
          [(ngModel)]="loginModel.password"
          #password="ngModel"
          required
          minlength="6"
        />
        <span>Password</span>
      </label>

      <button type="submit" class="btn btn-secondary w-full animate-pulse">
        Login
      </button>
      <app-alert
        *ngIf="showAlert"
        type="error"
        message="Login failed. Please try again."
      ></app-alert>
      <div class="text-center">
        <a href="#" class="text-sm">Forgot password?</a>
      </div>
    </form>

    <form *ngIf="!isLogin" class="space-y-4" (ngSubmit)="onRegister()">
      <label class="floating-label">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="input input-md w-full"
          [(ngModel)]="registerModel.email"
        />
        <span>Email</span>
      </label>

      <label class="floating-label">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="input input-md w-full"
          [(ngModel)]="registerModel.password"
        />
        <span>Password</span>
      </label>

      <label class="floating-label">
        <input
          type="password"
          name="password"
          placeholder="Confirm Password"
          class="input input-md w-full"
          [(ngModel)]="registerModel.confirmPassword"
        />
        <span>Confirm Password</span>
      </label>

      <button type="submit" class="btn btn-success w-full animate-pulse">
        Register
      </button>
    </form>

    <div class="divider">or</div>

    <button class="btn wbtn-outline w-full">Continue with Google</button>
  </div>
</div>
