<div class="navbar text-center outline-2 text-secondary">
  <div class="flex-1">
    <a class="text-2xl font-extrabold text-white">ChatLab</a>
    <a class="text-2xl font-bold animate-pulse"> - Stay connected, instantly</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end"></div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content rounded-box z-1 mt-3 w-52 p-2 shadow text-white"
      >
        <li>
          <a (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
