<div
  class="dock text-base-content text-2xl font-semibold outline-1 outline-black"
>
  <button (click)="onHomeClick()">
    <svg
      class="size-[1.2em]"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <polyline
          points="1 11 12 2 23 11"
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"
        ></polyline>
        <path
          d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7"
          fill="none"
          stroke="currentColor"
          stroke-linecap="square"
          stroke-miterlimit="10"
          stroke-width="2"
        ></path>
        <line
          x1="12"
          y1="22"
          x2="12"
          y2="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="square"
          stroke-miterlimit="10"
          stroke-width="2"
        ></line>
      </g>
    </svg>
    <span class="dock-label">Home</span>
  </button>
  <button (click)="onMessagesClick()">
    <svg
      class="size-[1.2em]"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
    </svg>
    <span class="dock-label">Messages</span>
  </button>
</div>
