<div class="chat chat-start">
  <div class="chat-bubble chat-bubble-primary">
    What kind of nonsense is this
  </div>
</div>
<div class="chat chat-end">
  <div class="chat-bubble chat-bubble-secondary">Calm down, Anakin.</div>
</div>
<div class="chat chat-start">
  <div class="chat-bubble chat-bubble-primary">
    What kind of nonsense is this
  </div>
</div>
<div class="chat chat-end">
  <div class="chat-bubble chat-bubble-secondary">Calm down, Anakin.</div>
</div>
<div class="chat chat-start">
  <div class="chat-bubble chat-bubble-primary">
    What kind of nonsense is this
  </div>
</div>
<div class="chat chat-end">
  <div class="chat-bubble chat-bubble-secondary">Calm down, Anakin.</div>
</div>
